* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, lightcoral, peachpuff);
  font-family: 'Archivo+Narrow', sans-serif;
}

table {
  background-color: papayawhip;
  border-collapse: collapse;
  margin: 100px auto;
  width: 400px;
}

.todo tr:nth-child(odd) {
  background-color: mintcream;
}

th {
  background-color: darksalmon;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  height: 60px;
  padding: 15px;
}

td {
  padding: 15px;
}

.strike-out {
  text-decoration: line-through;
}

.list-delete {
  background-color: indianred;
  color: white;
  display: none;
  padding: 15px;
}

td:hover .list-delete {
  position: relative;
  animation-duration: 1s;
  animation-name: fadein;
  display: inline;
  top: 0;
  margin-right: 5px;
}

td:hover {
  padding-left: 0px;
}

.list-item:first-of-type {
  margin-left:15px;
  /* background-color: pink; */
}

input {
  font-size: 20px;
  height: 25px;
  border: 1px solid transparent;
}

 @keyframes fadein {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}